:root {
    font-size: 12px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------Gestion flex------deb---*/

.flex {
    display: flex;
}

.flexdc {
    flex-direction: column;
}

.flexac {
    align-items: center;
}

.flexspe {
    justify-content: space-evenly;
}

.flexjc {
    justify-content: center;
}

.flexspb {
    justify-content: space-between;
}

.flexspa {
    justify-content: space-around;
}

.flexlf {
    justify-content: left;
}

/*-----------Gestion flex------fin---*/

body {
    background-image: url(./img/jessica_lewisplus.jpg);
    height: 100vh;
}

h1 {
    margin: 10px;
    font-size: 2rem;
    text-align: center;
    justify-self: center;
}

main {
    height: 100vh;
    background: url(../img/jessica_lewisplus.jpg);
}

label {
    margin: 10px;
}

.deuxelemsearch {
    display: flex;
    justify-content: space-between;
}

.btn {
    margin: 0 20px;
}

.btn-titre {
    width: 300px;
}

.defil_h {
    display: flex;
    justify-content: space-between;
    animation: slidein 8s infinite linear alternate;
}

.slide {
    border: white solid 2px;
}

.img_slide {
    vertical-align: middle;
}

.img_slidex {
    vertical-align: middle;
    width:85px;
}

@keyframes slidein {
    0% {
        transform: translatex(0px);
    }

    100% {
        transform: translatex(860px);
    }
}

.form_search {
    margin: 20px;
}

label {
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.grill{
    margin: 10px;
    display: grid;
grid-template-columns:  1fr 1fr 1fr 1fr;
border: white solid 1px;
}

nav{
position: absolute;
bottom:0;

}