:root {
    font-size: 12px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------Gestion flex------deb---*/

.flex {
    display: flex;
}

.flexdc {
    flex-direction: column;
}

.flexac {
    align-items: center;
}

.flexspe {
    justify-content: space-evenly;
}

.flexjc {
    justify-content: center;
}

.flexspb {
    justify-content: space-between;
}

.flexspa {
    justify-content: space-around;
}

.flexlf {
    justify-content: left;
}

/*-----------Gestion flex------fin---*/

body {
    background-image: url(../img/jessica_lewisplus.jpg);
    height: 100vh;

}

header {
    background: url(../img/jessica_lewisplus.jpg);
}

h1 {
    /* margin: 10px; */
    font-size: 2rem;
    text-align: center;
    justify-self: center;
    line-height: 10px;
    color: white;
}

main {
    height: 80vh;
    background: url(../img/jessica_lewisplus.jpg);
}

label {
    margin: 10px;
}

input {
    font-size: 1.5rem;
    ;
}

.deuxelemsearch {
    display: flex;
    justify-content: space-between;
}

.btn {
    margin: 0 20px;
}

.btn-titre {
    width: 300px;
}

.defill_h {
    display: flex;
    justify-content: space-between;
    animation: slidein 15s infinite linear alternate;
    overflow: hidden;
}

.slide {
    border: white solid 3px;
    box-shadow: white 0 0 10px;
    margin: 10px;
    border-radius: 10px;
}


.img_slide {
    vertical-align: middle;
    transition: 2s;
    border-radius: 10px;
    overflow: hidden;
}

.img_slidex {
    vertical-align: middle;
    width: 105px;

}

@keyframes slidein {
    0% {
        transform: translatex(900px);
    }

    100% {
        transform: translatex(-900px);
    }
}

.form_search {
    margin: 20px;
}

label {
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.grill {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: hidden;
}


nav {
    width: 100%;
    position: absolute;
    display: flex;
    background-color: grey;
    bottom: 0;
}

li a {
    text-decoration: none;
}

img.img_nav {
    width: 40px;
    margin: 5px 5px;
    filter: drop-shadow(white 2px 2px 3px);
}

ul {
    list-style-type: none;
    width: 100%;
}
