:root {
    font-size: 12px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------Gestion flex------deb---*/

.flex {
    display: flex;
}

.flexdc {
    flex-direction: column;
}

.flexac {
    align-items: center;
}

.flexspe {
    justify-content: space-evenly;
}

.flexjc {
    justify-content: center;
}

.flexspb {
    justify-content: space-between;
}

.flexspa {
    justify-content: space-around;
}

.flexw {
    justify-content: left;
}

/*-----------Gestion flex------fin---*/

body {
    height: 100vh;

}

main {
    position: relative;
    display: flex;
    flex-direction: column;

}

h1 {
    text-align: center;
}

.btnandco {
    margin: 20px;
    width: 100px;
    background-color: rgb(19, 202, 235);
    padding: 20px;
    border-radius: 10px;
    box-shadow: black 1px 1px 10px;

}

.btnandco {
    cursor: pointer;
}

.img_note {
    width: 50px;
}

.note1,
.note2,
.note3,
.note4 {
    position: absolute;

}

.note1 {
    animation: musical1 5s linear infinite;
    top: 350px;
    left: 220px;
}

.note2 {
    animation: musical2 3s infinite;
    top: 310px;
    left: 240px;
}

.note3 {
    animation: musical3 3s infinite;
    top: 390px;
    left: 260px;
}

.note4 {
    animation: musical4 3s infinite;
    top: 350px;
    left: 290px;
}

@keyframes musical1 {
    0% {
        left: 210px;
        top:320px;
    }
10%{
    opacity:0;
}
    30% {
        left: 230px;
        top:350px;
        opacity:1;
    }
50%{
    opacity:0;
}
    80% {
        left: 260px;
        top:320px;
        opacity:1;
        }

    100% {
        left: 290px;
        top:300px;
    }

}

@keyframes musical2 {
    0% {
        left: 210px;
        top:320px;
    }
10%{
    opacity:0;
}
    30% {
        left: 230px;
        top:350px;
        opacity:1;
    }
50%{
    opacity:0;
}
    80% {
        left: 260px;
        top:320px;
        opacity:1;
        }

    100% {
        left: 290px;
        top:300px;
    }

}


@keyframes musical3 {
    0% {
        left: 250px;
        top:320px;
    }
10%{
    opacity:0;
}
    30% {
        left: 260px;
        top:350px;
        opacity:1;
    }
50%{
    opacity:0;
}
    80% {
        left: 240px;
        top:320px;
        opacity:1;
        }

    100% {
        left: 230px;
        top:300px;
    }

}

@keyframes musical4 {
    0% {
        left: 250px;
        top:320px;
    }
10%{
    opacity:0;
}
    30% {
        left: 260px;
        top:380px;
        opacity:1;
    }
50%{
    opacity:0;
}
    80% {
        left: 290px;
        top:320px;
        opacity:1;
        }

    100% {
        left: 230px;
        top:300px;
    }

}