:root {
    font-size: 146x;
}

*,
::before,
::after {
   
    box-sizing: border-box;
}

/*-----------Gestion flex------deb---*/

.flex {
    display: flex;
}

.flexdc {
    flex-direction: column;
}

.flexac {
    align-items: center;
}

.flexspe {
    justify-content: space-evenly;
}

.flexjc {
    justify-content: center;
}

.flexspb {
    justify-content: space-between;
}

.flexspa {
    justify-content: space-around;
}

.flexw {
    justify-content: left;
}

/*-----------Gestion flex------fin---*/

body {
    height: 100vh;
    background-color: #836e6e;
    /* display:flex;
    flex-direction: column; */

}

main {

    display: flex;
    flex-direction: column;
    position: absolute;
    height: 300px;
    width: 300px;
    top: 50px;
    /* background-color: #fff; */

}

h1 {
    text-align: center;
}

.blocky{
    position: absolute;
    background-color: rgb(206, 203, 197);
    width: 80%;
    left: 50%;
    transform: translate( -50%, -50%);
    
}

.prop{
    font-size: 1.3rem;
    color : red;
    font-weight: bold;
}
