:root {
    font-size: 12px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------Gestion flex------deb---*/

.flex {
    display: flex;
}

.flexdc {
    flex-direction: column;
}

.flexac {
    align-items: center;
}

.flexspe {
    justify-content: space-evenly;
}

.flexjc {
    justify-content: center;
}

.flexspb {
    justify-content: space-between;
}

.flexspa {
    justify-content: space-around;
}

.flexw {
    justify-content: left;
}

/*-----------Gestion flex------fin---*/

body{
  height:100vh;
  
}

main{
    top:50%;
    transform:translateY(25%);
    width:100px;
    background-color: rgb(228, 15, 15);
    
}
 
h1{
    text-align:center;
}
.deuxelemsearch{
    display:flex;
    justify-content: space-between;

}
